{% extends 'base.html' %}

{% block body %}
<h1>Choose a task to preform</h1>
<div class="list-group">
        <button type="button" class="list-group-item"><a href="{{ url_for('.finalmethod')}}">Volunteering</a> </button>
        <button type="button" class="list-group-item"><a href="{{ url_for('.finalmethod')}}">Sharing through facebook</a></button>
        <button type="button" class="list-group-item"><a href="{{ url_for('.finalmethod')}}">Donating money</a></button>
        <button type="button" class="list-group-item"><a href="{{ url_for('.finalmethod')}}">Donating gifts</a></button>
        <button type="button" class="list-group-item"><a href="{{ url_for('.finalmethod')}}">Tweeting</a></button>
</div>      
<script>
var items = document.getElementsByClassName("list-group-item active");

</script>
{% endblock %}